body {
  /* background: linear-gradient(-40deg, #1f3f56, #2e3b42, #263136, #222c31); */
  /* background: linear-gradient(
    -40deg,
    rgba(6, 0, 102, 1) 0%,
    rgba(0, 0, 28, 1) 35%,
    rgba(0, 31, 84, 1) 52%,
    rgba(0, 131, 158, 1) 100%
  ); */
  /* background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  ); */
  background-image: linear-gradient(315deg, #0f0c2e 0%, #111111 74%);
  background-size: 400% 400%;
  font-family: "Poppins", sans-serif;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.App {
  background-color: transparent;
  height: 100vh;
  /* display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.headerContainer {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconLink {
  color: #ffffff55;
  text-decoration: none;
  font-size: small;
  background-color: #ffffff05;
  border-radius: 5px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recordingContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.metaFooterContainer {
  position: absolute;
  bottom: 0;
  display: none;
  flex-direction: row;
  width: 100%;
}
.wave {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #3f51b5;
}
.wave2 {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #757de8;
}
.wave3 {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #acb1ff;
}

.waveContainer {
  width: 90%;
  padding: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.metaContainer {
  width: 90%;
  padding: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.buttonContainer {
  padding: 2em;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: center;
  color: azure;
}

.sideControlsContainer {
  padding: 1em;
}

.dialogueContainer {
  width: 90%;
  height: 100vh;
  overflow: hidden;
}

.dialogueStyle {
  font-size: 1.8em;
  margin: 0;
  margin-top: 0.5em;
}

.dialogueYourStyle {
  font-size: 1.8em;
  margin: 0;
  margin-top: 0.5em;
  color: #888;
}

.drawerStyle {
  display: flex;
  flex-direction: column;
  background-color: #222c31;
  width: 300px;
  height: 100vh;
}

.drawerTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: whitesmoke;
  padding: 0.9em;
  font-size: large;
}

.drawerFooterStyle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.modalGridContainer {
  display: flex;
  height: 90vh;
  width: 100%;
}

.BrowserSupport {
  background-image: linear-gradient(315deg, #0f0c2e 0%, #111111 74%);
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: calc(5px + 2vmin);
  color: rgb(255, 255, 255);
}

.OnlineStatus {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: calc(5px + 2vmin);
  color: rgb(255, 255, 255);
}

.refreshContainer {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
}

.refreshContainerBtn {
  padding: 20px;
  border-radius: 50%;
  font-size: 2em;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
}

.refreshContainer :hover {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #3f51b5;
  transition: 0.2s all ease-in-out;
}
